@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<ul>
<li>
    This project will be a Project Management Web Application that will allow users to 
    create and view Gantt charts. 
</li>    
<li>    
    Users will also be able to store gantt charts once they 
    are created so that the user can access them upon returning to the website. 
</li>    
<li>    
    The application 
    will also allow push notifications to a user’s mobile phone to show upcoming task deadlines 
    from within the gantt chart. 
</li>
</ul>
