@{
    ViewBag.Title = "Create Not Allowed";
}

<h2>This task cannot be created because</h2>
<h2>the predecessor is not less than the current row id</h2>
<h2></h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
